body {
    margin: 0;
}
#back_home,#logout {
    float: right;
    text-align: center;
}
.bc_contents:nth-child(odd) {
    padding: 25px;
    width: 70%;
    height: 155px;
    border: 1px solid #565656;
    background-color: #ffe4c2;
}
.bc_contents:nth-child(even) {
    padding: 25px;
    width: 70%;
    height: 155px;
    border: 1px solid #565656;
    background-color: #fff4e6;
}
.bc_creation_date,.bc_title {
    position: relative;
    padding: 2px;
}
.bc_delete,.bc_edit {
    position: relative;
    padding-top: 1%;
    padding-left: 3%;
    float: left;
}
.bc_details {
    position: relative;
    padding-left: 40%;
}
.bc_image {
    position: relative;
    float: left;
    clear: left;
}
#delete_area {
    position: relative;
    padding: 5%;
    text-align: center;
}
.desc {
    font-size: 18px;
    border-bottom: 3px solid #68dd72;
}
.detail {
    display: none;
    background: #fff;
    width: 90%;
    height: 10%;
}
#logout_area {
    position: relative;
    background-color: #636363;
    width: 100vw;
    height: 100vh;
}
.logout_btn:nth-child(odd) {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: #ececec;
}
.logout_btn:nth-child(even) {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: #68dd72;
}
#logout_btns {
    padding: 18px;
}
#logout_detail {
    font-size: 18px;
    position: relative;
    top:25%;
}
#logout_explain {
    position: absolute;
    background-color: #ffffff;
    border-radius: 10px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 410px;
    height: 410px;
    text-align: center;
}
#logout_explain p {
    position: relative;
    font-weight: bold;
    font-size: 24px;
    top:10%;
}
.required {
    background-color: #f00a0a;
    border-radius: 5px;
    font-weight: 900;
    color: #ffffff;
}
.sel_p {
    line-height: 0;
}
.tabs {
    margin-top: 30px;
    padding-bottom: 20px;
    background-color: #fff;
    box-shadow: 00 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 0 auto;
}
.tab {
    width: calc(100%/2);
    height: 50px;
    border-bottom: 3px solid #5ab4bd;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}
.tab:hover {
    opacity: 0.75;
}
input[name="tab"]{
    display: none;
}
.tab_contents {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
}
#society:checked ~ #society_contents,
#student:checked ~ #student_contents {
    display: block;
}
.tabs input:checked + .tab {
    background-color: #5ab4bd;
    color: #fff;
}
textarea {
    resize: none;
}
.write{
    border-radius: 0.67em;
}
@media screen and (max-width: 480px) { 
    .button {
        margin: auto;
    }
}
